/*Colours to use
Cool grey - #273043
Teal - #579493
grey - #9197AE
Dark black/green - #0C1713
*/
}
*// Background Image and Cards for homepage

.full-spanbackground {   height: 100vh;    background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), url('https://github.com/UniversityOfDundee-Computing/coursework-1---wikipedia-website-group-7-bioshock/blob/main/BioShock%20Images/7.jpg?raw=true') center / cover no-repeat!important; }

a {color: white;}

a:hover {color: #24a0bf;}

#imgCard1{
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('') center / cover no-repeat!important;
}

#imgCard2{
  background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), url('') center / cover no-repeat!important;
}

#imgCard3{
  background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), url('') center / cover no-repeat!important;
