body{
    background-image:url(https://github.com/UniversityOfDundee-Computing/coursework-1---wikipedia-website-group-7-bioshock/blob/main/BioShock%20Images/map5.JPG?raw=true) ;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
 padding: 0;
    margin-top: 100px;
    margin-left: auto;
}


h1 {
    font-family: 'Rubik', sans-serif;
}

h2,h3 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #24a0bf;
}

p {
    font-family: 'PT Sans', sans-serif;
    font-size: large;
}

body   {
    background-color:#428986;
}


.text {
    align-items: left;
    
    text-align: left;
    color: white;
}

.card {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(65, 113, 124, 0.3);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    margin: 10px;
    padding: 10px;
}

.container4{
    background-color: black;
}

.footer-text{
    color:#fff;
  }
  
  .footer-text1{
    font-style:inherit;
  }
  
  a:link{
    color:#24a0bf;
    background-color:transparent;
    text-decoration: none;
  }
  a:visited {
    color: #24a0bf;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: #fff;
    background-color: transparent;
    text-decoration: solid;
  }
  
  a:active {
    color: #24a0bf;
    background-color: transparent;
    text-decoration:underline;
  }
